@model Mozzafiato.ViewModels.CarrinhoCompraViewModel

<div class="container">
    <div class="row">
        <div>

            <h4>
                Seu carrinho de compras:
                <img src="~/imgs/cart-shopping-solid.svg" style="width: 28px; height:20px" />
            </h4>

        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Lanche</th>
                    <th class="text_right">Preço</th>
                    <th class="text_right">Subtotal</th>
                    <th> </th>
                </tr>
            </thead>


            <tbody>
                @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
                {
                    <tr>
                        <td class="text-center"> @item.Quantidade </td>
                        <td class="text-left"> @item.Lanche.Nome</td>
                        <td class="text-right"> @item.Lanche.Preco.ToString("c") </td>

                        <td class="text-right">
                            @((item.Quantidade * item.Lanche.Preco).ToString("c"))
                        </td>
                        <td>
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra"
                               asp-route-lancheId="@item.Lanche.LancheId">
                                <img src="~/imgs/trash-can-regular.svg" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>


            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.CarrinhoCompraTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>


        </table>

        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-sucess" asp-controller="Pedido" asp-action="Checkout">Encerrar pedido</a>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" asp-controller="Lanche" asp-action="List">Continuar</a>
            </div>
        </div>
    </div>
</div>